:root {
  --hf-padding: 1vh;
  --header-height: 5vh;
  --callout-height: 1vh;
  --logo-container-border: 1px solid #808080;
  --footer-height: min(20vh, calc((338px + var(--hf-padding)) * 2));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #111;
  max-height: 100vh;
}

img {
  object-fit: contain;
}

#header, #footer {
  background-color: #ccc;
  padding: var(--hf-padding);
}

#header {
  height: var(--header-height);
}

#main-content {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

#inner-content {
  margin-left: 10%;
  margin-right: 10%;
}

#footer {
  height: var(--footer-height);
}

#footer * {
  height: 100%;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.col {
  flex: 1 0 0;
  max-width: 100%;
  max-height: 100%;
}

.col-12 {
  flex: 0 0 100%;
}

.bookend-left {
  margin-left: auto;
}

.bookend-right {
  margin-right: auto;
}

.warning-icon {
  height: calc(var(--callout-height) * 2);
  padding-left: var(--callout-height);
  padding-right: var(--callout-height);
}

.warning-icon-border {
  fill: goldenrod;
}

.warning-icon-bg {
  fill: lightgoldenrodyellow;
}

.warning-icon-content {
  fill: #ba8500;
}

.callout {
  display: inline-block;
  font-size: var(--callout-height);
  font-weight: 200;
  font-style: italic;
  background-color: cornsilk;
  padding: 5px;
  border: 2.5px solid khaki;
  border-radius: 2.5px;
}

.title {
  font-size: 3em;
  padding: 0.5rem;
}

.subtitle {
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.5rem;
}

.logo-container {
  height: 50%!important;
  padding-left: 10px;
  padding-right: 10px;
}

.logo-link {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

#fc-first {
  padding-bottom: 10px;
  border-bottom: var(--logo-container-border)
}

#fc-last {
  padding-top: 10px;
  border-top: var(--logo-container-border)
}

@media all and (min-width: 768px) {
  :root {
    --header-height: 8vh;
    --callout-height: 1.6vh;
    --footer-height: min(10vh, calc(338px + var(--hf-padding)));
  }

  .col-md-6 {
    flex: 0 0 50%;
  }

  .title {
    font-size: 4em;
  }

  .subtitle {
    font-size: 2em;
  }

  .logo-container {
    height: 100%!important;
  }

  #fc-first {
    padding-bottom: 0;
    border-right: var(--logo-container-border);
    border-bottom: none;
  }
  
  #fc-last {
    padding-top: 0;
    border-top: none;
    border-left: var(--logo-container-border)
  }
}
